<h1>Team Classification #<%= @team_classification.id %></h1>

<p>
  <b>Team:</b>
  <%= @team_classification.team_id %>
</p>

<p>
  <b>Heat:</b>
  <%= @team_classification.heat_id %>
</p>

<p>
  <b>Boat:</b>
  <%= @team_classification.boat_id %>
</p>


