<div class="page-header">
  <h1>Heats <small>when do you race?</small></h1>
</div>

<h3>It is suggested to use estimated start times as names</h3>
<%= form_tag(heats_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>


  <div>
    <%= submit_tag "Create Heat" %>
  </div>
<% end %>
