<div class="page-header">
  <h1><%=@heat.name.capitalize %> <small>when do you race?</small></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
        <% @heat.teams.each do |team|%>
        <th><%= team.name %></th>
        <% end %>
        <% (4-@heat.teams.each.count).times do%>
        <th></th>
        <% end %>
    </tr>
  </thead>

  <tbody>
    <tr>
        <% @heat.boats.each do |boat|%>
        <td><%= boat.name %></td>
        <% end %>
        <% (4-@heat.boats.each.count).times do%>
        <td></td>
        <% end %>
    </tr>
    <tr>
      <% @heat.teams.each do |team|%>
        <td>
          <% team.rowers.each do |rower|%>
            <p><%= rower.name %></p>
          <% end %>
        <% end %>
        </td>
        <% (4-@heat.teams.each.count).times do%>
        <td></td>
        <% end %>
    </tr>
  </tbody>
</table>
