<h1>New Boat Type</h1>


<%= form_tag(boat_types_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>


  <div>
    <%= submit_tag "Create Boat Type" %>
  </div>
<% end %>
