<div class="page-header">
  <h1>Welcome to ZZV Jeugdwedstrijden <small>the competition that will change your life!</small></h1>
</div>

<div class="hero-unit">
  <h1>ZZV jeugd- en juniorenwedstrijden</h1>
  <p>Zaterdag 8 juni 2013</p>
  <p>Op de Voorzaan langs de Havenstraat in Zaandam</p>
  <p>

Uitgeschreven nummers
J10 1x
J11 1x
J12 1x
J13 1x
J14 1x
M10 1x
M11 1x
M12 1x
M13 1x
M14 1x
J12 2x
M12 2x
J14 2x
M14 2x
J12 C4*
M12 C4*
Mix12 C4*
J14 C4*
M14 C4*
Mix14 C4*
J16 4x
J18 4x
M16 4x
M18 4x
Mixed16 4x
Mixed18 4x
J16 C4*
J18 C4*
M16 C4*
M18 C4*
Mixed16 C4*
Mixed18 C4*</p>
  <p>
    <a class="btn btn-inverse btn-large">
      Learn more
    </a>
  </p>
</div>
