<h1>Boat #<%= @boat.id %></h1>

<table>
  <thead>
    <tr>
      <th colspan="2"><%= @boat.name %></th>
    </tr>
    <tr>
      <th>Heat</th>
      <th>Team</th>
    </tr>
  </thead>

  <tbody>
    <% @boat.team_classifications.each do |team_classification| %>
    <tr>
      <td><%= team_classification.heat.name %></td>
      <td><%= team_classification.team.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
